/* ######################### Styles for Resposnive sites ####################### */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 

@media screen and (max-width: 600px) {
    /* global stylings.... */


    /* ---------------------------> title section-1 */
    #title{
      text-align: center;
    }

    #title-img{
        position: static;
        transform: rotate(0);
    }
    
    .navbar-brand{
        font-size: 2.3rem;
    }

  }
  